* {
  background-color: rgba(0, 40, 0, 0.1);
  border: 0.005px solid black;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex; */
}

.container {
  max-width: 86%;
  margin: 0 auto;
}

/* navbar styling */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6% 0px;
}

/* navbar children */
.navbar-brand {
  grid-column: 1;
}

.navbar-menu {
  grid-column: 2;
  display: grid;
  justify-items: end;
}

/* Intro styling */
.intro-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8.5% 0px;
}

.intro-quote {
  grid-column: 1;
  /* display: flex; */
}

.intro-img {
  grid-column: 2;
}

/* line break styling */
hr {
  border: none;
  height: 2px;
  background-color: #f5f5f5;
}

/* portfolio styling */
.title {
  text-align: center;
}

.samples-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 45% 0px; */
}

.project-one {
  grid-column: 1;
}

.project-two {
  grid-column: 2;
}
.center-text {
  text-align: center;
}
.project-three {
  grid-column: 3;
}

/* footer styling */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  justify-content: flex-start;
}

.links {
  justify-content: flex-end;
}

.footer-content {
  padding: 6% 0px;
}
